:root {
  --font-family: arial, sans-serif;
  --content-width: 1252px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --bg-color: #ffed2c;
  --text-color: #0f1213;
  --border-color: #0f121333;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family, sans-serif);
  background-color: var(--bg-color);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link-reset {
  font-size: 18px;
  text-decoration: none;
  color: var(--black-color);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}

.hidden {
  display: none;
}

.hidden-img {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: 16px 0;
  height: 93px;
}
.header__icon {
  height: 24px;
}
.header__icon--social {
  width: 24px;
  height: 24px;
}
.header__icon--x {
  fill: transparent;
  stroke: var(--text-color);
  stroke-width: 2;
}
.header__list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__item:not(:last-child) {
  margin-right: 20px;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 9px;
}
.burger__span {
  display: block;
  width: 48px;
  height: 1px;
  background-color: var(--text-color);
}

.hero {
  position: relative;
  padding: 35px 0;
}
.hero__descr {
  opacity: 0;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  will-change: transform, opacity;
}
.hero__content {
  opacity: 0;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  will-change: transform, opacity;
}
.hero__list {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.hero__label {
  font-size: 14px;
  text-transform: uppercase;
}
.hero__title-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 30px;
}
.hero__title {
  margin: 0;
  font-family: "Impact", sans-serif;
  font-size: 23.9vw;
  line-height: 1;
  text-align: right;
  text-transform: uppercase;
}
.hero__title--sm {
  display: block;
  font-size: 145px;
}
.hero__text {
  margin-left: auto;
  max-width: 341px;
}
.hero__subtitle {
  margin: 0;
  margin-bottom: 20px;
}
.hero__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
}
.hero__icon {
  margin-left: 15px;
  width: 16px;
  height: 16px;
}
.hero__img {
  position: absolute;
  left: -400px;
  bottom: -450px;
  z-index: -1;
  width: 100%;
  opacity: 0;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}/*# sourceMappingURL=main.css.map */
